h1{
	color: white;
	background-color: #000000;
	text-align: center;
}
p{
	font-size: 25px;
}
.parell{
	background-color: #000000;
	color: #FFFFFF;
	text-align: center;
	font-size: 25px;
}
.impar{
	background-color: blue;
	color: #FFFFFF;
	text-align: center;
}
table{
	background-color: #0000aa;
	color: #FFFFFF;
	align: center;
	text-align: right;
	width: 75%;
}
footer{
	text-align: right;
	margin-top: 100px;
	margin-left: 72%;
	display: inline-block;
	background-color: #0000FF55;
	font-size: 25px;
}
